<title>My application</title>
  <h1><center>Let's Compare Grades</center></h1>
    {{result}}

  <form action="compute" method="post">

        <center><label for="story">Enter grades of the first class: </label>
        <textarea name="input1" rows="10" cols="30"></textarea></center>

        <center><label for="story">Enter grades of the second class: </label>
        <textarea name="input2" rows="10" cols="30"></textarea></center>

        <center><label for="story">Enter comparison mode (w = worst grade, b = best grade, a = average grade): </label>
        <textarea name="input3" rows="1" cols="30"></textarea></center>

        <center><label for="story">Enter if 0's should be ignored: </label>
        <textarea name="input4" rows="1" cols="30"></textarea></center>

        <br>
        <center><input type="submit"></center>
  </form>
